@page
@model FoxholeIntelboard.Pages.Resources.IndexModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http
@{
    var demoRole = Http.HttpContext.Request.Cookies["demoRole"]
             ?? IntelboardAPI.Models.DemoUser.Role;
}
@if(demoRole == "Admin")
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Resource[0].Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Resource)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>You don't have permission to be here</h4>
    <a href="../Index">Go back</a>
}