@page
@model FoxholeIntelboard.Pages.Ammunitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ammunition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.CrateAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.CrateAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.SpecialProperties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.SpecialProperties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.Damage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.Damage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ammunition.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ammunition.ItemName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ammunition.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
