@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http
@model FoxholeIntelboard.Pages.Lists.IndexModel

@{
    ViewData["Title"] = "Index";
    var demoRole = Http.HttpContext.Request.Cookies["demoRole"]
                   ?? IntelboardAPI.Models.DemoUser.Role;
}

<h1>Index</h1>
@* There are 3 roles currently, admins can see and use everything, users can only edit and view lists and readers can only view lists.
    This page role-checks through most buttons.*@
<p>
    @if (demoRole.Contains("Admin"))
    {
        <a asp-page="Create">Create New</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Inventories[0].Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Inventories.Count; i++)
{
    var item = Model.Inventories[i];
    <tr>
        <td>
            <button class="accordion-btn" data-index="@i">
                @item.Name
            </button>
        </td>
        <td>
            @if(demoRole.Contains("Admin") || @demoRole.Contains("User"))
            {
                <a asp-page="./Edit" asp-route-id="@item.InventoryId">Edit</a>
            }
            <a asp-page="./Details" asp-route-id="@item.InventoryId">Details</a>
            @if (demoRole.Contains("Admin"))
            {
                <a asp-page="./Delete" asp-route-id="@item.InventoryId">Delete</a>
            }
        </td>
    </tr>
    <tr class="panel-row" id="panel-@i">
        <td colspan="2" class="panel-content">
            <ul>
                @foreach (var crate in item.CratedItems)
                {
                    var cratedItem = Model.CraftableItems.FirstOrDefault(c => c.CraftableItemId == crate.CraftableItemId);
                    if (cratedItem != null)
                    {
                        <li>
                            <a asp-page="/Ammunitions/Details" asp-route-id="@cratedItem.CraftableItemId">
                                @crate.Amount / @crate.RequiredAmount x @cratedItem.Name
                            </a>
                        </li>
                    }
                }
            </ul>
        </td>
    </tr>
}

    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".accordion-btn");

        buttons.forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.stopPropagation(); // Just to make sure no other IDBObjectStore will be affected or start running
                const index = this.getAttribute("data-index");
                const panel = document.getElementById("panel-" + index);
                panel.classList.toggle("open");
            });
        });
    });
</script>
