@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>@Model.Ammo.Name</h1>
    <p><strong>Object Description:</strong> @Model.Ammo.Description</p>
    <p><strong>Damage Type:</strong> @Model.Ammo.Damage</p>
    <p><strong>Damage Description:</strong> @Model.Ammo.GetDamageDescription()</p>
    <p><strong>Crate Amount:</strong> @Model.Ammo.CrateAmount</p>
</div>
